main {
  width: 100%;
  height: 3325px;
  padding-top: 40px;
}

// Home album carousel block
.album-carusel {
  width: 100%;
  height: 732px;
  position: relative;
  overflow: hidden;
  .carusel-block {
    width: 1136px;
    height: 732px;
    position: absolute;
    top: 0;
    left: 465px;
    .item {
      width: 670px;
      height: 732px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      border: 7px solid $color-primary-two;
      border-radius: 10px;
      .imige-text-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        h3 {
          font-family: Lato;
          font-size: 15px;
          font-weight: 700;
          line-height: 21px;
          letter-spacing: 0em;
        }
      }
      .imige-box {
        width: 670px;
        height: 634px;
        border-radius: 10px;
      }
      .imige-text-box span:nth-child(1) {
        font-family: Lato;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        color: $color-primary;
      }
      .imige-text-box span:nth-child(2) {
        font-family: Lato;
        font-size: 15px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        color: $color-text;
      }
    }
  }
}

// podcasts and New releases is duplicated

.podcasts {
  width: 100%;
  height: 366px;
  margin-top: 52px;
  position: relative;
  overflow: hidden;
  .podcasts-block {
    width: 1015px;
    height: 366px;
    position: absolute;
    top: 0;
    left: 465px;
    border-radius: 10px;
    .produts-title-box {
      width: 992px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        font-family: Lato;
        font-size: 32px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
        color: $color-text;
      }
      a {
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: $color-primary;
        cursor: pointer;
        transition: $transition;
      }
      a:hover {
        color: $color-text;
      }
    }
    .podc-music-block {
      width: 100%;
      height: 301px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .item {
        width: 325px;
        height: 100%;
        background: black;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .music-box {
          width: 100%;
          height: 220px;
          border-radius: 10px;
          overflow: hidden;
          border: 5px solid $color-primary-two;
        }
        .text-box {
          width: 266px;
          height: 66px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          h4 {
            font-family: Lato;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0em;
            color: $color-text;
          }

          .like-box {
            width: 80px;
            height: 23px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
              font-family: Lato;
              font-size: 16px;
              font-weight: 400;
              line-height: 23px;
              letter-spacing: 0em;
              color: $color-text;
            }
          }
        }
      }
    }
  }
}
// Monthly listeners block

.mon-liseners {
  width: 100%;
  height: 366px;
  margin-top: 52px;
  position: relative;
  overflow: hidden;
  .mon-liseners-block {
    width: 1015px;
    height: 366px;
    position: absolute;
    top: 0;
    left: 465px;
    border-radius: 10px;
    border: 5px solid $color-primary-two;
    display: flex;
    align-items: center;
    .text-box {
      width: 512.98px;
      height: 138px;
      position: absolute;
      margin-left: 39px;
      h1 {
        font-family: Lato;
        font-size: 64px;
        font-weight: 700;
        line-height: 91px;
        letter-spacing: 0em;
        color: $color-text;
      }
      span {
        font-family: Lato;
        font-size: 36px;
        font-weight: 400;
        line-height: 51px;
        letter-spacing: 0em;
        color: $color-text;
      }
    }
  }
}
// Home papular section

.papular {
  width: 100%;
  height: 453px;
  margin-top: 52px;
  position: relative;
  overflow: hidden;
  .papular-block {
    width: 995px;
    height: 366px;
    position: absolute;
    top: 0;
    left: 465px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .more {
      font-family: Lato;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0em;
      color: $color-primary;
      transition: $transition;
      cursor: pointer;
    }
    h2 {
      font-family: Lato;
      font-size: 32px;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: 0em;
      color: $color-text;
    }
    .item {
      width: 100%;
      height: 90px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: $transition;
      .imige-text-box {
        width: 195px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .imige-block {
          width: 90px;
          height: 90px;
          border-radius: 10px;
          overflow: hidden;
          border: 2px solid $color-primary-two;
        }
      }
      .likes-block {
        width: 398px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      span {
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
      }
      p {
        font-family: Lato;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    .item:hover {
      background: $color-primary-two;
    }

    .more:hover {
      color: $color-text;
    }
  }
}
.player {
  width: 100%;
  height: 366px;
  margin-top: 52px;
  position: relative;
  overflow: hidden;
  .player-block {
    width: 433px;
    height: 288.02px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 465px;
    border: 1px solid #21767d;
    display: flex;
    align-items: flex-end;
    .player-box {
      width: 333px;
      height: 128.02px;
      border-radius: 10px;
      display: flex;
      gap: 10px;
      h3 {
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        color: $color-text;
      }
      span {
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
      }
      .imige-box {
        width: 169px;
        border-radius: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 57px;
        align-items: flex-end;
        border: 3px solid #21767d;
      }

      .text-box {
        width: 160px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 9px;
      }
    }
  }
}
// Album section

.album {
  width: 100%;
  height: 405px;
  margin-top: 52px;
  position: relative;
  overflow: hidden;
  .album-block {
    width: 1015px;
    height: 405px;
    position: absolute;
    top: 0;
    left: 465px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-family: Lato;
      font-size: 32px;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: 0em;
      text-align: left;
    }

    .album-music-block {
      width: 100%;
      min-height: 318px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .item {
        width: 325px;
        height: 318.04px;
        border-radius: 10px;
        background: $color-primary-two;
        display: flex;
        align-items: center;
        justify-content: center;
        .item-box {
          width: 200px;
          height: 272.47px;
          border-radius: 10px;
          .imige-box {
            width: 100%;
            height: 193.93px;
            border-radius: 10px;
            border: 2px solid black;
            background: $color-primary-two;
          }
          .text-box {
            width: 120px;
            height: 64px;
            display: flex;
            flex-direction: column;
            gap: 14px;
            h2 {
              font-family: Lato;
              font-size: 20px;
              font-weight: 700;
              line-height: 28px;
              letter-spacing: 0em;
              text-align: left;
            }
            .dat {
              width: 100%;
              height: 3px;
              display: flex;
              justify-content: space-between;

              span {
                font-family: Lato;
                font-size: 16px;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 0em;
              }
            }
          }
        }
      }
    }
  }
}
