@import '../../assets/css/variables.scss';
@import '../../assets/css/fonts.scss';
// Play button

.play-btn {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 352px;
    left: 755px;
    background: $color-primary;
    transition: $transition;
    cursor: pointer;
}

.play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid $color-bg;
    z-index: 100;
  }

  .play-btn:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    background: $color-text;
  }

// Primary button

.primary-btn {
    width: 212.19px;
    height: 54px;
    border-radius: 10px;
    border: 2px;
    color: $color-text;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    color: $color-bg;
    transition: $transition;
    cursor: pointer;

    .primary-btn:active {
        background: $color-primary;
    }
}
.primary-btn:hover {
    background: $color-primary;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

// sign in button

.sign-btn {
    width: 95px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid $color-text;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    transition: $transition;
    cursor: pointer;
    background: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-btn:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    background: $color-text;
}

// login and register button

.login-btn {
    width: 387px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid $color-text;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    background: $color-primary;
    transition: $transition;
    cursor: pointer;
}

.login-btn:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    background: $color-text;
}
