@import '../css/variables.scss';
@import '../css/buttons.scss';
@import '../css/fonts.scss';
@import '../../components/header/header.scss';
@import '../../components/navbar/navbar.scss';
@import '../../pages/not-found/notFount.scss';
@import '../../pages/home/home.scss';
@import '../../pages/admin/admin.scss';
@import '../../pages/login/login.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $color-bg;
    color: $color-text;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    padding-top: 40px;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}